<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.epsilon.zest.view.EpsilonZestGraphView"
            id="org.eclipse.epsilon.zest.view"
            name="Epsilon Zest Visualization"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.epsilon.zest.launch.EpsilonZestLaunchTabGroup"
            id="org.eclipse.epsilon.zest.launchConfigurationTabGroup"
            type="org.eclipse.epsilon.zest.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.epsilon.zest.launch.EpsilonZestLaunchConfigurationDelegate"
            id="org.eclipse.epsilon.zest.launchConfigurationType"
            modes="run,debug"
            name="EOL ZestViz Launch Configuration">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.epsilon.zest.launchConfigurationType"
            icon="icons/graph.png"
            id="org.eclipse.epsilon.zest.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.epsilon.zest.graph.EpsilonZestNode"
            class="org.eclipse.epsilon.zest.view.EpsilonZestAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.epsilon.zest.graph.EpsilonZestEdge"
            class="org.eclipse.epsilon.zest.view.EpsilonZestAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
